<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.edu.thongleeuos.criminalintent">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name="com.edu.thongleeuos.criminalintent.CrimePagerActivity"
            android:parentActivityName=".CrimePagerActivity"
            android:label="@string/ActionBar_Crime">
        </activity>
        <activity
            android:name=".CrimeActivity"
            android:parentActivityName=".CrimeActivity">
        </activity>
        <activity
            android:name=".CrimetListActivity"
            android:parentActivityName=".CrimetListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>